@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'DeadheadRough'; /* Name your font family */
    src: url('C:\Users\FAMILY\Desktop\GigaCuts Barberia\fonts\DeadheadRough.ttf'); /* Locate the .ttf file within your directory*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-image: url('/photos/shop.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

/*Login styles*/

.login-content {
    width: 454px;
    height: 641px;
    background-color: #252525;
    color: white;
    animation-name: login-intro;
    animation-duration: 1s;
}

@keyframes login-intro {
    0% {
        transform: translate(-500px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.container {
    padding-left: 73px;   
    padding-top: 20px;
}

.container img {
    width: 300px;
    height: 300px;
}

.login-form p {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.welcome p {
    color: white;
    margin-top: 550px;
    margin-left: 25px;
    font-size: 25px;
    text-shadow: 5px 5px 5px #252525;
}

.welcome p b {
    color: #FFD700;
    font-size: 30px;
}

/*Form Styles*/

.form, a {
    padding-left: 100px;
}

.login-form input {
    border: 2px solid white;
    border-radius: 20px;
    width: 240px;
    padding: 5px;
    color: #252525;
}

.login-form a {
    text-decoration: none;
    color: white;
}

.login-form input[type='submit'] {
    background-color: #FFD700;
    border: 3px solid #FFD700;
    color: #252525;
    font-weight: bold;
    font-size: 1em;
}

.login-form input[type='submit']:hover {
    background-color: #FFA500; /* Change to the desired hover background color */
    border-color: #FFA500; /* Change to the desired hover border color if needed */
    cursor: pointer;
}

.login-form input[type='submit']:active {
    background-color: #dfa02c; /* Change to the desired hover background color */
    border-color: #dfa02c; /* Change to the desired hover border color if needed */
}

.form input[type='radio'] {
    width: 20px;
}